@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Afacad", sans-serif;
  scroll-behavior: smooth;
}

/* style scrollbar */
*::-webkit-scrollbar {
  @apply w-[5px];
}
*::-webkit-scrollbar-track {
  @apply bg-transparent;
}
*::-webkit-scrollbar-thumb {
  @apply bg-secondary;
}
*::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}
*::-webkit-scrollbar-thumb:active {
  @apply bg-secondary;
}

.react-flow__node-custom .react-flow__handle {
  width: 12px;
  height: 6px;
  border-radius: 2px;
  background-color: #0a122e;
}
